/** Five by five **/
$outer-circle-size: 500px;
$inner-circle-size: 33cqh;
$inner-circle-text-size: calc($inner-circle-size / 2.5);
$light-blue-color: rgb(202, 223, 234);
$light-blue-transparent-color: rgba(15, 15, 15, 0.05);
$dark-blue-color: rgb(34, 65, 83);
$red-color: rgb(192, 0, 4);
$off-white-color: #cadfea;
  
#wheel-container {
  width: $outer-circle-size;
  height: $outer-circle-size;
  background-color: white;
  overflow: hidden;
  z-index: 100;
  background: radial-gradient(
    circle calc($outer-circle-size * 0.7),
    rgba(192, 0, 130, 0.4) 0%,
    rgba(255, 255, 255, 0) 65%
  );
  transition: all 0.5s ease;
  font-size: calc($outer-circle-size / 60);
  font-family: "Kurdis-CondensedSemiBold", sans-serif;
  container: wheel / size;
  padding: 10%;
  min-width: 300px;
  min-height: 300px;
  @media only screen and (max-width: 1024px) {
    width: 430px;
    height: 430px;
  }
}

  
#wheel-container h1,
h2 {
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Kurdis-CondensedBold", sans-serif;
}

#lines {
  z-index: 50;
}

.inner-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc($inner-circle-size * 1.15);
  height: calc($inner-circle-size * 1.15);
  border-radius: 50%;
  border-color: $red-color;
  border-width: calc($inner-circle-size / 20);
  border-style: solid;
  background: transparent;
  opacity: 0;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  transition: all 0.25s ease;
  transform-origin: center;
  z-index: 100;
  translate: -50% -50%;
}

.inner-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: $inner-circle-size;
  height: $inner-circle-size;
  background-color: #c00004;
  border-radius: 50%;
  border-color: transparent;
  border-width: calc($inner-circle-size / 20);
  border-style: solid;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  font-size: $inner-circle-text-size;
  z-index: 100;
}

.slices {
  position: relative;
  width: 100%;
  height: 100%;
  clip-path: circle(50% at 50% 50%);
}

.slice {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: $light-blue-color;
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: $dark-blue-color;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

div[class*="content-0"].title-hover {
  color: $red-color;
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.clip-01 {
  clip-path: polygon(50% 50%, 13% 0, 85% 0);
}

.clip-01.inner-ring {
  clip-path: polygon(50% 50%, 13% 0, 86% 0);
}

.clip-02 {
  clip-path: polygon(50% 50%, 86% 0, 100% 0, 100% 65%);
}

.clip-02.inner-ring {
  clip-path: polygon(50% 50%, 14% 0, 86% 0);
}

.clip-03 {
  clip-path: polygon(50% 50%, 100% 65.5%, 100% 100%, 50% 100%);
}

.clip-03.inner-ring {
  clip-path: polygon(50% 50%, 13% 0, 86% 0);
}

.clip-04 {
  clip-path: polygon(50% 50%, 0 66%, 0 100%, 49.5% 100%);
}

.clip-04.inner-ring {
  clip-path: polygon(50% 50%, 15% 0, 86% 0);
}

.clip-05 {
  clip-path: polygon(50% 50%, 12% 0, 0 0, 0 65.5%);
}

.clip-05.inner-ring {
  clip-path: polygon(50% 50%, 13% 0, 86% 0);
}

#lines {
  position: absolute;
  pointer-events: none;
}

.slice-list {
  display: none;
}

@keyframes BackgroundFadeOut {
  from {
    background-color: $light-blue-color;
  }

  to {
    background-color: transparent;
  }
}

@keyframes BackgroundFadeIn {
  from {
    background-color: transparent;
  }

  to {
    background-color: $light-blue-color;
  }
}

@keyframes FadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes FadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.BGFadeIn {
  animation-name: BackgroundFadeIn;
}

.BGFadeOut {
  animation-name: BackgroundFadeOut;
}

.FadeIn {
  animation-name: FadeIn;
}

.FadeOut {
  animation-name: FadeOut;
}

@keyframes MoveDown {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translateY(150%);
  }
}

.FadeOutAndMoveDown {
  opacity: 0;
  transform: translateY(150%);
}

div.inner-circle > div {
  position: absolute;
  pointer-events: none;
  text-align: center;
}

div.inner-circle h1 {
  font-size: 5cqh !important;
  margin: 0;
  width: fit-content;
}

div.inner-circle h2 {
  font-size: 4cqh !important;
}

.FiveFive {
  transition: all 1s ease;
  animation-fill-mode: forwards;
}

div.inner-circle div.FiveFive h1 {
  font-size: calc(15cqh) !important;
  translate: 0 2cqh;
}

div.inner-circle div:not(.FiveFive) {
  color: $dark-blue-color;
  transition: all 0.5s ease;
}

.Startup {
  translate: 0 -35cqh;
}

.EarlyStage {
  translate: 35cqw -12cqh;
}

.MidStage {
  translate: 90% 140%;
  white-space: nowrap;
}

.Mature {
  translate: -100% 140%;
}

.AquiredMerged {
  translate: -200% -40%;
}

div.inner-circle > div.stage-center {
  translate: 0 0;
  color: white;
}

div.inner-circle > div.stage-center h1 {
  font-size: 1.8rem;
}

div.inner-circle > div.stage-center h2 {
  font-size: 2rem;
  color: white !important;
}

div.inner-circle > div.stage-hover {
  scale: 1.1;
}

div.inner-circle > div.stage-hover h2 {
  color: $red-color;
}

div.inner-circle.stage-selected {
  background-color: $dark-blue-color;
}

div.contents {
  position: relative;
  top: -50cqw;
  left: 50cqh;
}

div.contents div.slice-content {
  transition: opacity 0.5s ease;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

div.contents div.slice-content ol {
  color: $dark-blue-color;
  list-style: none;
  counter-reset: li;
  font-size: large;
  translate: 0 1cqh;
}

div.contents div.slice-content li::before {
  content: counter(li) ". ";
  counter-increment: li;
  color: $red-color;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

div.contents div.slice-content.selected {
  display: block;
  opacity: 1;
}

div.contents div.slice-content.Startup {
  translate: -20cqw -50cqh;
}

div.contents div.slice-content.EarlyStage {
  translate: 18cqw -26cqh;
}

div.contents div.slice-content.MidStage {
  translate: 0cqw 17cqh;
}

div.contents div.slice-content.Mature {
  translate: -45cqw 17cqh;
}

div.contents div.slice-content.AquiredMerged {
  translate: -62cqw -26cqh;
}

@media only screen and (max-width: 1024px) {
  $outer-circle-size: 300px;
  $inner-circle-size: 33cqh;
  $inner-circle-text-size: calc($inner-circle-size / 2.5);
  $light-blue-color: rgb(202, 223, 234);
  $light-blue-transparent-color: rgba(15, 15, 15, 0.05);
  $dark-blue-color: rgb(34, 65, 83);
  $red-color: rgb(192, 0, 4);
  $off-white-color: #cadfea;

  #wheel-container {
    background: radial-gradient(
      circle calc($outer-circle-size * 0.7),
      rgba(192, 0, 130, 0.4) 0%,
      rgba(255, 255, 255, 0) 65%
    );
  }

  div.contents div.slice-content ol {
    font-size: medium;
  }
  div.contents div.slice-content.Startup {
    translate: -20cqw -52cqh;
  }

  div.contents div.slice-content.EarlyStage {
    translate: 18cqw -25cqh;
  }

  div.contents div.slice-content.MidStage {
    translate: 0cqw 17cqh;
  }

  div.contents div.slice-content.Mature {
    translate: -50cqw 17cqh;
  }

  div.contents div.slice-content.AquiredMerged {
    translate: -65cqw -25cqh;
  }
}

@media only screen and (max-width: 768px) {
  $outer-circle-size: 450px;
  $inner-circle-size: 33cqh;
  $inner-circle-text-size: calc($inner-circle-size / 2.5);
  $light-blue-color: rgb(202, 223, 234);
  $light-blue-transparent-color: rgba(15, 15, 15, 0.05);
  $dark-blue-color: rgb(34, 65, 83);
  $red-color: rgb(192, 0, 4);
  $off-white-color: #cadfea;

  #wheel-container {
    background: radial-gradient(
      circle calc($outer-circle-size * 0.7),
      rgba(192, 0, 130, 0.4) 0%,
      rgba(255, 255, 255, 0) 65%
    );
    width: $outer-circle-size;
    height: $outer-circle-size;
    margin: 0 auto;
  }

  div.contents div.slice-content ol {
    font-size: medium;
  }
  div.contents div.slice-content.Startup {
    translate: -20cqw -52cqh;
  }

  div.contents div.slice-content.EarlyStage {
    translate: 18cqw -25cqh;
  }

  div.contents div.slice-content.MidStage {
    translate: 0cqw 17cqh;
  }

  div.contents div.slice-content.Mature {
    translate: -50cqw 17cqh;
  }

  div.contents div.slice-content.AquiredMerged {
    translate: -65cqw -25cqh;
  }
}

@media only screen and (max-width: 640px) {
  $outer-circle-size: 300px;
  $inner-circle-size: 33cqh;
  $inner-circle-text-size: calc($inner-circle-size / 2.5);
  $light-blue-color: rgb(202, 223, 234);
  $light-blue-transparent-color: rgba(15, 15, 15, 0.05);
  $dark-blue-color: rgb(34, 65, 83);
  $red-color: rgb(192, 0, 4);
  $off-white-color: #cadfea;

  #wheel-container {
    background: radial-gradient(
      circle calc($outer-circle-size * 0.7),
      rgba(192, 0, 130, 0.4) 0%,
      rgba(255, 255, 255, 0) 65%
    );
    width: $outer-circle-size;
    height: $outer-circle-size;
    margin: 0 auto;
  }

  div.contents div.slice-content ol {
    font-size: small;
  }
  div.contents div.slice-content.Startup {
    translate: -27cqw -59cqh;
  }

  div.contents div.slice-content.EarlyStage {
    translate: 18cqw -30cqh;
  }

  div.contents div.slice-content.MidStage {
    translate: 0cqw 17cqh;
  }

  div.contents div.slice-content.Mature {
    translate: -60cqw 17cqh;
  }

  div.contents div.slice-content.AquiredMerged {
    translate: -75cqw -30cqh;
  }
}

@media only screen and (max-width: 460px) {
  #wheel-container {
    background: radial-gradient(
      circle calc(200px * 0.7),
      rgba(192, 0, 130, 0.4) 0%,
      rgba(255, 255, 255, 0) 65%
    );
    width: calc(200px * 0.7) !important;
    height: calc(200px * 0.7) !important;
    translate: -2cqw;
  }

  div.contents div.slice-content ol {
    font-size: x-small;
  }
  div.contents div.slice-content.Startup {
    translate: -25cqw -50cqh;
  }

  div.contents div.slice-content.EarlyStage {
    translate: 12cqw -25cqh;
  }

  div.contents div.slice-content.MidStage {
    translate: 0cqw 17cqh;
  }

  div.contents div.slice-content.Mature {
    translate: -55cqw 17cqh;
  }

  div.contents div.slice-content.AquiredMerged {
    translate: -65cqw -25cqh;
  }
}

div.section-image.wheel {
  width: 80%;
  
  @media only screen and (max-width: 820px) {
    width: 80%;
  }

  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}