/** Five by five **/
#wheel-container {
  width: 500px;
  height: 500px;
  background-color: white;
  overflow: hidden;
  z-index: 100;
  background: radial-gradient(circle 350px, rgba(192, 0, 130, 0.4) 0%, rgba(255, 255, 255, 0) 65%);
  transition: all 0.5s ease;
  font-size: 8.3333333333px;
  font-family: "Kurdis-CondensedSemiBold", sans-serif;
  container: wheel/size;
  padding: 10%;
  min-width: 300px;
  min-height: 300px;
}

#wheel-container h1,
h2 {
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Kurdis-CondensedBold", sans-serif;
}

#lines {
  z-index: 50;
}

.inner-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 37.95cqh;
  height: 37.95cqh;
  border-radius: 50%;
  border-color: rgb(192, 0, 4);
  border-width: 1.65cqh;
  border-style: solid;
  background: transparent;
  opacity: 0;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  transition: all 0.25s ease;
  transform-origin: center;
  z-index: 100;
  translate: -50% -50%;
}

.inner-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 33cqh;
  height: 33cqh;
  background-color: #c00004;
  border-radius: 50%;
  border-color: transparent;
  border-width: 1.65cqh;
  border-style: solid;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  font-size: 13.2cqh;
  z-index: 100;
}

.slices {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
}

.slice {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(202, 223, 234);
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: rgb(34, 65, 83);
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

div[class*=content-0].title-hover {
  color: rgb(192, 0, 4);
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.clip-01 {
  -webkit-clip-path: polygon(50% 50%, 13% 0, 85% 0);
          clip-path: polygon(50% 50%, 13% 0, 85% 0);
}

.clip-01.inner-ring {
  -webkit-clip-path: polygon(50% 50%, 13% 0, 86% 0);
          clip-path: polygon(50% 50%, 13% 0, 86% 0);
}

.clip-02 {
  -webkit-clip-path: polygon(50% 50%, 86% 0, 100% 0, 100% 65%);
          clip-path: polygon(50% 50%, 86% 0, 100% 0, 100% 65%);
}

.clip-02.inner-ring {
  -webkit-clip-path: polygon(50% 50%, 14% 0, 86% 0);
          clip-path: polygon(50% 50%, 14% 0, 86% 0);
}

.clip-03 {
  -webkit-clip-path: polygon(50% 50%, 100% 65.5%, 100% 100%, 50% 100%);
          clip-path: polygon(50% 50%, 100% 65.5%, 100% 100%, 50% 100%);
}

.clip-03.inner-ring {
  -webkit-clip-path: polygon(50% 50%, 13% 0, 86% 0);
          clip-path: polygon(50% 50%, 13% 0, 86% 0);
}

.clip-04 {
  -webkit-clip-path: polygon(50% 50%, 0 66%, 0 100%, 49.5% 100%);
          clip-path: polygon(50% 50%, 0 66%, 0 100%, 49.5% 100%);
}

.clip-04.inner-ring {
  -webkit-clip-path: polygon(50% 50%, 15% 0, 86% 0);
          clip-path: polygon(50% 50%, 15% 0, 86% 0);
}

.clip-05 {
  -webkit-clip-path: polygon(50% 50%, 12% 0, 0 0, 0 65.5%);
          clip-path: polygon(50% 50%, 12% 0, 0 0, 0 65.5%);
}

.clip-05.inner-ring {
  -webkit-clip-path: polygon(50% 50%, 13% 0, 86% 0);
          clip-path: polygon(50% 50%, 13% 0, 86% 0);
}

#lines {
  position: absolute;
  pointer-events: none;
}

.slice-list {
  display: none;
}

@keyframes BackgroundFadeOut {
  from {
    background-color: rgb(202, 223, 234);
  }
  to {
    background-color: transparent;
  }
}
@keyframes BackgroundFadeIn {
  from {
    background-color: transparent;
  }
  to {
    background-color: rgb(202, 223, 234);
  }
}
@keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes FadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.BGFadeIn {
  animation-name: BackgroundFadeIn;
}

.BGFadeOut {
  animation-name: BackgroundFadeOut;
}

.FadeIn {
  animation-name: FadeIn;
}

.FadeOut {
  animation-name: FadeOut;
}

@keyframes MoveDown {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translateY(150%);
  }
}
.FadeOutAndMoveDown {
  opacity: 0;
  transform: translateY(150%);
}

div.inner-circle > div {
  position: absolute;
  pointer-events: none;
  text-align: center;
}

div.inner-circle h1 {
  font-size: 5cqh !important;
  margin: 0;
  width: -moz-fit-content;
  width: fit-content;
}

div.inner-circle h2 {
  font-size: 4cqh !important;
}

.FiveFive {
  transition: all 1s ease;
  animation-fill-mode: forwards;
}

div.inner-circle div.FiveFive h1 {
  font-size: 15cqh !important;
  translate: 0 2cqh;
}

div.inner-circle div:not(.FiveFive) {
  color: rgb(34, 65, 83);
  transition: all 0.5s ease;
}

.Startup {
  translate: 0 -35cqh;
}

.EarlyStage {
  translate: 35cqw -12cqh;
}

.MidStage {
  translate: 90% 140%;
  white-space: nowrap;
}

.Mature {
  translate: -100% 140%;
}

.AquiredMerged {
  translate: -100% -40%;
}

div.inner-circle > div.stage-center {
  translate: 0 0;
  color: white;
}

div.inner-circle > div.stage-center h1 {
  font-size: 1.8rem;
}

div.inner-circle > div.stage-center h2 {
  font-size: 2rem;
  color: white !important;
}

div.inner-circle > div.stage-hover {
  scale: 1.1;
}

div.inner-circle > div.stage-hover h2 {
  color: rgb(192, 0, 4);
}

div.inner-circle.stage-selected {
  background-color: rgb(34, 65, 83);
}

div.contents {
  position: relative;
  top: -50cqw;
  left: 50cqh;
}

div.contents div.slice-content {
  transition: opacity 0.5s ease;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

div.contents div.slice-content ol {
  color: rgb(34, 65, 83);
  list-style: none;
  counter-reset: li;
  font-size: large;
  translate: 0 1cqh;
}

div.contents div.slice-content li::before {
  content: counter(li) ". ";
  counter-increment: li;
  color: rgb(192, 0, 4);
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

div.contents div.slice-content.selected {
  display: block;
  opacity: 1;
}

div.contents div.slice-content.Startup {
  translate: -24cqw -55cqh;
}

div.contents div.slice-content.EarlyStage {
  translate: 18cqw -30cqh;
}

div.contents div.slice-content.MidStage {
  translate: 0cqw 17cqh;
}

div.contents div.slice-content.Mature {
  translate: -35cqw 15cqh;
}

div.contents div.slice-content.AquiredMerged {
  translate: -55cqw -38cqh;
}

@media only screen and (max-width: 1024px) {
  #wheel-container {
    background: radial-gradient(circle 210px, rgba(192, 0, 130, 0.4) 0%, rgba(255, 255, 255, 0) 65%);
  }
  div.contents div.slice-content ol {
    font-size: small;
  }
  div.contents div.slice-content.Startup {
    translate: -24cqw -50cqh;
  }
  div.contents div.slice-content.EarlyStage {
    translate: 18cqw -30cqh;
  }
  div.contents div.slice-content.MidStage {
    translate: 0cqw 17cqh;
  }
  div.contents div.slice-content.Mature {
    translate: -40cqw 16cqh;
  }
  div.contents div.slice-content.AquiredMerged {
    translate: -50cqw -35cqh;
  }
}
@media only screen and (max-width: 768px) {
  #wheel-container {
    padding: 0;
    background: radial-gradient(circle 315px, rgba(192, 0, 130, 0.4) 0%, rgba(255, 255, 255, 0) 65%);
    width: 450px;
    height: 450px;
    margin: 0 auto;
  }
  div.contents div.slice-content ol {
    font-size: small;
  }
  div.contents div.slice-content.Startup {
    translate: -24cqw -50cqh;
  }
  div.contents div.slice-content.EarlyStage {
    translate: 18cqw -30cqh;
  }
  div.contents div.slice-content.MidStage {
    translate: 0cqw 17cqh;
  }
  div.contents div.slice-content.Mature {
    translate: -40cqw 16cqh;
  }
  div.contents div.slice-content.AquiredMerged {
    translate: -50cqw -35cqh;
  }
}
@media only screen and (max-width: 640px) {
  #wheel-container {
    background: radial-gradient(circle 210px, rgba(192, 0, 130, 0.4) 0%, rgba(255, 255, 255, 0) 65%);
    width: 300px;
    height: 300px;
    margin: 0 auto;
  }
  div.contents div.slice-content ol {
    font-size: x-small;
  }
  div.contents div.slice-content.Startup {
    translate: -30cqw -50cqh;
  }
  div.contents div.slice-content.EarlyStage {
    translate: 12cqw -30cqh;
  }
  div.contents div.slice-content.MidStage {
    translate: 0cqw 17cqh;
  }
  div.contents div.slice-content.Mature {
    translate: -40cqw 16cqh;
  }
  div.contents div.slice-content.AquiredMerged {
    translate: -55cqw -35cqh;
  }
}
@media only screen and (max-width: 460px) {
  #wheel-container {
    background: radial-gradient(circle 140px, rgba(192, 0, 130, 0.4) 0%, rgba(255, 255, 255, 0) 65%);
    width: 140px !important;
    height: 140px !important;
  }
  div.contents div.slice-content ol {
    font-size: x-small;
  }
  div.contents div.slice-content.Startup {
    translate: -30cqw -50cqh;
  }
  div.contents div.slice-content.EarlyStage {
    translate: 12cqw -30cqh;
  }
  div.contents div.slice-content.MidStage {
    translate: 0cqw 17cqh;
  }
  div.contents div.slice-content.Mature {
    translate: -40cqw 16cqh;
  }
  div.contents div.slice-content.AquiredMerged {
    translate: -55cqw -35cqh;
  }
}
div.section-image.wheel {
  width: 100%;
}/*# sourceMappingURL=fivebyfive.css.map */